{% block content %} 
    <h2>Search for Products</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'pricefinder:product_search' %}"> 
        {% csrf_token %} 
        <label for="search_query">Enter Product URL or Name:</label>
        <input type="text" id="search_query" name="search_query" placeholder="Enter URL or Name">
        <button type="submit">Search</button>
    </form>
{% endblock %}